@using PetClinicWeb.System.Extensions

@{
    ViewBag.Title = this.LocalResources("Title");
}
<h2>@this.LocalResources("Title")</h2>

<h3>Мы работаем круглосуточно!</h3>
<address>
    г. Минск, Лопатина 67,
    230452<br />
    <abbr title="">Телефоны:</abbr>
    (8029)1238745
    (8029)6738745
    (8017)2208745

</address>

<address>
    <strong>По вопросам можно написать нашему консультанту:</strong>   <a href="mailto:Loveanimal@example.com">Loveanimalt@example.com</a><br />

</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2347.778769172155!2d27.67839611556141!3d53.95343718011072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbc9319f7e6f9b%3A0xe1a24547884cbee!2z0YPQuy4g0JvQvtC_0LDRgtC40L3QsCA2Nywg0JrQvtC_0LjRidC1!5e0!3m2!1sru!2sby!4v1506682010854" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

