@using PetClinicWeb.System.Extensions

@{
    ViewBag.Title = this.LocalResources("Tittle");
}
<h1 style=" text-align:center;">Наши врачи</h1>
<h2>Жуков Владимир Анатольевич</h2>
<img src="~/Content/images/Жуков.jpg" alt="Жуков Владимир Анатольевич" width="300"/>
<h3>Специализация: Терапия,кардиология,неврология</h3>
<h2>Васнецова Ирина Петровна</h2>
<img src="~/Content/images/Васнецова.jpg"alt="Васнецова Ирина Петровна" width="300"/>
<h3>Специализация: Терапия,травматология,абдоминальная хирургия </h3>
<h2>Генералова Василиса Михайловна</h2>
<img src="~/Content/images/Генералова.jpg" alt="Генералова Василиса Михайловна" width="300"/>
<h3>Специализация: Цитология,эндокоинология,онкология</h3>
<h2>Весёлый Игорь Андреевич</h2>
<img src="~/Content/images/Весёлый.jpg" alt="Весёлый Игорь Андреевич" width="300"/>
<h3>Специализация: Дерматология,офтальмология</h3>  
<h2>Соколовский Антон Артёмович</h2>
<img src="~/Content/images/Соколовский.jpg" alt="Соколовский Антон Артёмович" width="300"/>
<h3>Специализация: Хирургия,УЗИ-дигностика </h3>  
<h2>Великий Фёдор Григорьевич</h2>
<img src="~/Content/images/Великий.jpg" alt="Великий Фёдор Григорьевич" width="300"/>
<h3>Специализация: Кардиология,вакцинация,чипирование</h3> 
<h2>Малышка Евгения Дмитриевна</h2>
<img src="~/Content/images/Малышка.jpg" alt="Малышка Евгения Дмитриевна" width="300"/>
<h2>Специализация: Гинекология,вакцинация,чипирование  </h2> 


